* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 clamp(5px, 1.08vw, 20px);
	padding-bottom: 1.08vw;
	background-color: rgb(206, 204, 204);
}

.title {
	font-size: clamp(24px, 2.16vw, 32px);
	font-weight: bold;
	color: rgb(196, 140, 140);
	margin-bottom: 0.27vw;
}

.text {
	width: fit-content;
	margin: 0 auto;
	/* margin-top: 0.27vw; */
	font-size: clamp(16px, 2.16vw, 48px);
	background-color: #fff;
}

.text2 {
	font-size: 1.125rem;
	max-width: 120ch;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 0.63em;
}

.container2 {
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgb(161, 161, 233);
	/* border: 2px solid black; */
}

.test {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}
.block {
	width: clamp(150px, 32.552vw, 400px);
	border: 1px solid black;
}
.img {
	margin: 0 auto;
	max-width: 200px;
	height: 200px;
	background-color: rgb(199, 166, 105);
}
.text {
	text-align: center;
}
