* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 clamp(5px, 1.08vw, 20px);
	padding-bottom: 1.08vw;
	background-color: rgb(206, 204, 204);
}

.title {
	font-size: clamp(24px, 2.16vw, 32px);
	font-weight: bold;
	color: rgb(196, 140, 140);
	margin-bottom: 0.27vw;
}

.text {
	width: fit-content;
	margin: 0 auto;
	/* margin-top: 0.27vw; */
	font-size: clamp(16px, 2.16vw, 48px);
	background-color: #fff;
}

.text2 {
	font-size: 1.125rem;
	max-width: 120ch;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 0.63em;
}
