* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	background-color: rgb(221, 217, 217);
	padding: 20px 0;
}

h2 {
	text-align: center;
	padding: 20px 0 10px 0;
}

.testRemEm {
	background-color: rgb(221, 217, 217);
	height: 100vh;
	/* padding: 0 20px; */
	display: flex;
	justify-content: space-around;
	gap: 20px;
}

.em,
.rem {
	width: min(500px, 50%);
	background-color: #fff;
	padding: 0 20px;
}

.em {
	font-size: 18px;
}

.em p {
	font-size: 1em;
	margin-top: 10px;
	color: rgb(230, 149, 149);
}

.em p:nth-of-type(2) {
	font-size: 1.5em;
	color: rgb(149, 149, 232);
}

.em div {
	font-size: 2em;
	color: rgb(129, 210, 129);
}

.em .textTest {
	font-size: 2em;
	color: rgb(77, 229, 239);
}

.btn {
	color: white;
	border-radius: 3px;
	font-size: clamp(13px, 2vw, 24px);
	background-color: grey;
	border: none;
	padding: 0.625em 1.563em;
}

.em h2 {
	background-color: orange;
	color: rgb(87, 196, 87);
	font-size: clamp(20px, 2vw, 27px);
	padding: 1em 0;
}
