* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;  
  /* height: 100%; */
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  /* margin: 20px 0; */
  /* height: 200px; */
  background-color: orange;
  position: sticky;
  top: 0;
  z-index: 9;
}


.header .container {
  display: flex;
}

.nav__inner {
  display: flex;
}

.test__section {
  min-height: 500px;
  background-color: teal;
}

/* main .container {
  margin-top: 58px;
} */

.test__section:nth-child(2) {
  background-color: red;
  position: sticky;
  top: 0;
}

.test__section:nth-child(3) {
  background-color: yellow;
}

.test__section:nth-child(4) {
  background-color: green;
}

.test__section:nth-child(5) {
  background-color: blue;
}

.footer {
  min-height: 100px;
  background-color: blueviolet;
}

h2 {
  /* height: 100px; */
  padding: 50px 0;
  background-color: yellow;
  line-height: 100px;
}

